*, button {
    margin: 0;
    vertical-align: baseline
}

* {
    box-sizing: border-box;
    border: 0;
    -webkit-box-sizing: border-box;
    list-style: none;
    padding: 0;
    text-decoration: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}
button,
img {
    background-color: transparent
}
a,
a:active,
a:focus,
a:hover,
button {
    outline: 0;
    text-decoration: none
}
:focus {
    outline: 0
}

b,
strong {
    font-weight: 700
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic
}
svg:not(:root) {
    overflow: hidden
}
button[disabled],
input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    resize: none
}
button,
input,
select,
textarea {
    font-size: 100%
}
button,
input {
    line-height: normal
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

/**/

body {
    color: #7e70ff;
    font: 300 1rem/1.5 "Source Code Pro", monospace;
    background-color: #0f1428
}
body .colorful {
    color: #00efc6
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    font-size: 80%;
    font-weight: 400
}
p {
    font-weight: 300
}

body,
html {
    height: 100%;
    width: 100%
}

/* */
/* */
/* */

/**/
.around-copyright {
    font-size: 16px;
    font-weight: 300;
    left: -2.3vw;
    position: fixed;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0) rotate(-90deg);
    transform: translate3d(0, -50%, 0) rotate(-90deg);
    z-index: 15
}
@media (max-width: 1023px) {
    .around-copyright {
        font-size: 12px;
    }
}
.paratii-embed-link,
.around-copyright a {
    color: #7e70ff;
    font-weight: 700;
    -webkit-transition: color .2s;
    transition: color .2s
}
.paratii-embed-link:hover,
.around-copyright a:hover {
    color: #00efc6
}

/**/

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.paratii-embed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.paratii-embed-title {
    font-size: 14px;
    padding: 20px 10px 40px;
    text-align: center;
}

.paratii-embed-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.paratii-embed-text {
    font-size: 20px;
}

.paratii-embed-text-typewrite {
    display: inline-block;
    width: 150px;
}

.paratii-embed-text strong {
    color: #00efc6;
}

.paratii-embed-link {
    color: #7e70ff;
    font-weight: 600;
}

.paratii-embed-iframe {
    margin: 50px 0 30px;
}

/* footer */

.aroundtheblock-footer {
    background-color: #0f1428
}
.aroundtheblock-footer-list {
    display: flex;
    justify-content: center;
}
.aroundtheblock-footer-item {
    width: 8vw
}
@media (max-width: 1023px) {
    .main-nav-link {
        font-size: 4vw;
        padding: 3vw 0
    }
    .aroundtheblock-footer-item {
        width: 15vw
    }
}
.aroundtheblock-footer-link {
    display: block;
    text-align: center;
    -webkit-transition: opacity .25s;
    transition: opacity .25s
}
.aroundtheblock-footer-link:hover {
    opacity: .8
}
.aroundtheblock-footer-svg {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.4, .2, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(.4, .2, 0, 1);
    transition: transform .3s cubic-bezier(.4, .2, 0, 1);
    transition: transform .3s cubic-bezier(.4, .2, 0, 1), -webkit-transform .3s cubic-bezier(.4, .2, 0, 1);
    width: 50%
}
.aroundtheblock-footer-link:hover .aroundtheblock-footer-svg {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95)
}
